$main-col: #42369a;
$btn-col: #7971ac;
$bg-col: #f1effc;

.btn:hover {
  cursor: pointer;
}
body {
  background-color: $bg-col;
  header {
    background-image: url('./img/bg/header.svg');
    background-size: cover;
    background-position: 50% 100%;
    color: white;
    width: 100%;
    padding: 4rem 0 6rem;
    .logo {
      display: inline-block;
      width: 57%;
      .logo-img {
        margin-left: auto;
        width: 12rem;
      }
    }
    .header-btns {
      display: inline-block;
      text-align: right;
      float: right;
      width: 43%;
      &:after {
        content: '';
        display: block;
        clear: both;
      }
      .icons-row {
        margin-right: 6rem;
        display: inline-block;
        > div {
          margin: auto 1rem;
          display: inline-block;
          svg {
            height: 3rem;
          }
        }
      }
    }
  }
  .cards-body {
    background-color: white;
    width: 760px;
    display: block;
		margin: 3rem auto; 
    @media only screen and (max-width: 767px) {
      width: 100% !important;
    }
    .book-card {
      background-color: #fff;
    }
  }
}
