$main-col: #42369a;
$text-col: #434343;
$sec-text-col: #868686;
$btn-col: #7971ac;
$bg-col: #f1effc;

.btn:hover {
  cursor: pointer;
}
.pressed_key {
  fill: white !important;
}
body {
  background-color: $bg-col;
  header {
    background-image: url('./img/bg/header.svg');
    background-size: cover;
    background-position: 50% 100%;
    color: white;
    width: 100%;
    padding: 2rem 0;
    .logo {
      display: inline-block;
      width: 60%;
      .logo-img {
        margin-left: auto;
        width: 18rem;
      }
    }
    .header-btns {
      display: inline-block;
      text-align: right;
      float: right;
      width: 40%;
      margin-top: 4rem;
      &:after {
        content: '';
        display: block;
        clear: both;
      }
      .icons-row {
        margin-right: 6rem;
        display: inline-block;
        > div {
          .fav-img, .bag-img {
            &:hover {
              .fav_notify, .bag_notify {
                display: block !important;
              }
            }
          }
          margin: auto 1rem;
          display: inline-block;
          position: relative;
          svg {
            height: 3rem;
          }
        }
        .notify-card-section {
          .close-btn {
						display: inline-block;
						float: right;
						margin-right: .3rem;
						button{
						background-color: red;
						color: white;
						border: none;
						padding: .3rem .5rem;
            border-radius: 0.6rem;
						}
          }
          width: 100%;
          display: block;
          @media only screen and (max-width: 767px) {
            width: 100% !important;
          }
          .book-card {
            background-color: #fff;
            height: auto;
            overflow: hidden;
            margin: .2rem 0 1.3rem;
						position: relative;
						padding: .3rem 0;
						&:after{
							content: "";
							display: block;
							width: 50%;
							background-color: $main-col;
							height: .15rem;
							position: absolute;
							bottom: 0;
							left: 25%;
						}
            .card-img {
              float: left;
              width: 30%;
              height: 100%;
              display: inline-block;
              img {
                margin: auto;
                width: 100%;
                height: 100%;
              }
            }
            .card-content {
              width: 70%;
              height: 100%;
              display: inline-block;
              float: right;
							text-align: left;
              .book-info {
                box-sizing: border-box;
                width: 100%;
                height: 100%;
                display: inline-block;
                padding: .3rem .3rem;
                color: $text-col;
                font: {
                  family: sans-serif;
                }
                .book-title {
                  h2 {
                    text-transform: Capitalize;
                    font: {
                      size: .8rem;
                    }
                  }
                }
                .book-author {
                  color: $sec-text-col;
                  font: {
                    size: 0.5rem;
                  }
                }
                .price-btn {
                  display: inline-block;
                  padding: 0.4rem .4rem;
                  background-color: $btn-col;
                  color: white;
                  font: {
                    size: .6rem;
                    weight: 300;
                  }
                  border-radius: 0.6rem;
                }
              }
            }
          }
        }
        .fav_notify, .bag_notify {
					display: none;
          position: absolute;
          width: 15rem;
          background-color: white;
					color: black;
          left: -7rem;
          top: 4.5rem;
					border-radius: 1.2rem;
					padding-left: .6rem;
					padding-right: .6rem;
					padding-top: .5rem;
					z-index: 333;
					box-shadow: #080808a6 0rem 0.25rem 1rem;
					&.text{
						text-align: center !important;
						color: #252424;
						font: {
							family: sans-serif;
							size: .9rem;
						}
					}
					&:before{
						content: "";
						display: block;
						width:0;
						position: absolute;
						top: -2.5rem;
						left: 7rem;
						z-index:444;
						border: transparent 1.5rem solid;
						border-bottom-color: white;
					}
        }
      }
    }
  }
  .cards-body {
    .card-section {
      &:hover {
        .close-btn {
          animation: close-btn 0.3s 0.2s linear forwards;
        }
        @keyframes close-btn {
          0% {
            z-index: -1;
          }
          50% {
            z-index: 1;
            right: -3.3rem;
            top: -1.7rem;
          }
          100% {
            z-index: 2;
            right: -1.6rem;
            top: -0.7rem;
          }
        }
      }
      position: relative;
      .close-btn {
        position: absolute;
        right: -0.2rem;
        top: -0.2rem;
        overflow: hidden;
        border-radius: 2rem;
        z-index: -1;
        button {
          padding: 0.4rem 0.8rem;
          background-color: red;
          border: none;
          color: white;
          cursor: pointer;
          font: {
            size: 1.5rem;
          }
        }
      }
      width: 760px;
      display: block;
      margin: 3rem auto;
      @media only screen and (max-width: 767px) {
        width: 100% !important;
      }
      .book-card {
        background-color: #fff;
        height: 15rem;
        border-radius: 2rem;
        overflow: hidden;
        margin: 2rem 0;
        transition: all 0.3s linear;
        box-shadow: #2d2d2d85 0.1rem 0.3rem 0.4rem;
        &:hover {
          box-shadow: #2d2d2d85 0.2rem 0.5rem 0.8rem;
          transform: scale(1.05);
        }
        .card-img {
          float: left;
          width: 30%;
          height: 100%;
          display: inline-block;
          img {
            margin: auto;
            width: 100%;
            height: 100%;
          }
        }
        .card-content {
          width: 70%;
          height: 100%;
          display: inline-block;
          float: right;
          .book-info {
            box-sizing: border-box;
            width: 80%;
            height: 100%;
            display: inline-block;
            padding: 1rem 1rem;
            color: $text-col;
            font: {
              family: sans-serif;
            }
            .book-title {
              h2 {
                text-transform: Capitalize;
                font: {
                  size: 1.4rem;
                }
              }
            }
            .book-author {
              color: $sec-text-col;
              font: {
                size: 0.8rem;
              }
            }
            .price-btn {
              margin-top: 2rem;
              display: inline-block;
              padding: 0.4rem 1.2rem;
              background-color: $btn-col;
              color: white;
              font: {
                size: 1.3rem;
                weight: 300;
              }
              border-radius: 0.9rem;
            }
          }
          .card-btns {
            width: 20%;
            height: 100%;
            display: inline-block;
            float: right;
            .icons-row {
              height: 100%;
              .favorite-btn,
              .bags-btn {
                transition: background-color 0.2s linear;
                &:hover {
                  background-color: $btn-col;
                  svg {
                    animation: btn_anim 0.4s linear forwards;
                  }
                  @keyframes btn_anim {
                    0% {
                      transform: scale(1) rotate(0);
                    }
                    60% {
                      transform: scale(0.5) rotate(360deg);
                    }
                    100% {
                      transform: scale(1.3) rotate(0);
                    }
                  }
                }
              }
              .favorite-btn {
                background-color: $main-col;
                cursor: pointer;
                height: 50%;

                .fav-img {
                  > div {
                    padding-top: 2rem;
                    svg {
                      width: 2.5rem;
                      display: block;
                      position: relative;
                      margin: auto;
                    }
                  }
                  &:before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 0.15rem;
                    background-color: #fff;
                  }
                }
              }
              .bags-btn {
                background-color: $main-col;
                height: 50%;
                cursor: pointer;
                .bag-img {
                  > div {
                    padding-top: 2rem;
                    svg {
                      width: 2.5rem;
                      display: block;
                      position: relative;
                      margin: auto;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  footer {
    margin-top: 4rem;
    padding-top: 8rem;
    padding-bottom: 4rem;
    color: white;
    background-image: url(./img/bg/footer.svg);
    background-size: cover;
    background-position: 50% 100%;
    .container {
      width: 760px;
      margin: auto;
      font: {
        family: sans-serif;
      }
      .form-group {
        margin: 1rem 0 0;
        label {
          display: block;
          padding: 0.5rem 0;
          letter-spacing: 0.15rem;
          margin: 0.5rem 0.3rem;
          font: {
            size: 1.2rem;
          }
        }
        width: 50%;
        display: inline-block;
        &.btn-form {
          input {
            background: none !important;
            color: white;
            border: 1px solid white;
            transition: background-color 0.2s linear;
            cursor: pointer;
            &:hover {
              background-color: green !important;
            }
          }
        }
        input {
          &:focus {
            outline: none;
          }
          padding: 0.6rem 0.6rem;
          font: {
            size: 1rem;
          }
          border-radius: 0.9rem;
          border: none;
          width: 90%;
        }
      }
    }
  }
}
